/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */



/ {
	aliases {
		dg0 = &dig0;
		dg1 = &dig1;
		dg2 = &dig2;
		adc = &adc;
		in0 = &in0;
		in1 = &in1;
		i2c0 =&i2c0;	
		lora = &lora0;

	   };
	};
	


/{

    chosen {
        nordic,nrf-adc = &adc;
		nordic,nus-uart = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
	

		

    };



	output_digital {
		compatible = "gpio-keys";
		dig0: dig_0 {
			label = "LORAPWR pin12";
			
		};
		dig1: dig_1 {
			label = "GPS-RST pin16";
		
	    };

		dig2: dig_2 {
			label = "GPS-PWR  pin12";
		
	    };
		
	};


	input_digital {
		compatible = "gpio-keys";

		in0: in0 {
			label = "I2C SYNC - SCL LINE ";
		};
		
		in1: in1 {
			label = "TEST ";
		};

	};	
		
	
};



&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 9)>, <NRF_PSEL(TWIM_SDA, 0, 10)>;  // sda 0,10 scl 0,9
        };
    };
};


&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	label="I2C_0"; 
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default","sleep";
	clock-frequency = <I2C_BITRATE_FAST>; //maximum 400khz
	mysensor:mysensor@44{
		compatible = "i2c-device";
        reg = < 0x44 >;
        label = "MYSENSOR";
    };

	

};

 
&i2c0 {
     display:ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "SSD1306";
        height = <32>;
        width  = <128>;
        segment-offset  = <0>;
        page-offset     = <0>;
        display-offset  = <0>;
        multiplex-ratio = <31>;
        prechargep      = <0xD1>;
        segment-remap;
        com-invdir;
        com-sequential;
        //reset-gpios = <&gpio1 15 (GPIO_ACTIVE_LOW)>;
    };


};


&adc {
	#address-cells = <1>;
	#size-cells = <0>;
    io-channels = <&adc 0>, <&adc 1>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; 
		zephyr,resolution = <14>;
		zephyr,oversampling = <0>;

	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; 
		zephyr,resolution = <14>;
		zephyr,oversampling = <0>;
	};

	


};


&dig0 {
	gpios = <&gpio0 13 0>; // LORAPWR pin12
};

&dig2 {
    gpios = <&gpio0 26 0>; // GPS-PWR  pin12
};



&in0 {
	gpios = <&gpio0 18 0>;  //AIN4 pin 4 P0.28
};

&in1 {
	gpios = <&gpio0 19 0>;  //AIN5 pin 8  P0.29
};


&uart0_default {

    group2 {
        psels = <NRF_PSEL(UART_RX, 0, 29)>,	<NRF_PSEL(UART_TX, 0, 28)>; //RX PIN35 P0.24    //TX PIN 7 P0.00
    };
};

/delete-node/ &{/pin-controller/uart0_sleep/group1/};


&led0 {
    gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH)>; //LED0   PIN42  P1.06  WRITE TEST OK
	label = "Blue LED 0";
};

&led1 {
	status = "disabled";

};


&led2 {
	status = "disabled";

};

&led3 {
	status = "disabled";

};



&i2c0_sleep {
    group1 {
        psels = <NRF_PSEL(TWIM_SDA, 0, 10)>, <NRF_PSEL(TWIM_SCL, 0, 9)>;
    };
};


&button0 {
	status = "disabled";
};

&button1 {
	status = "disabled";
};


&adc {
	status = "disabled";
};


&pwm0 {
	status = "disabled";
};

&spi1 {
	status = "okay";
};

&spi3 {
	status = "disabled";
};


&dig0 {
	status = "okay";
};


&dig1 {
	status = "okay";
	gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
};


&dig2 {
	status = "okay";
};
/delete-node/ &{/pin-controller/uart0_default/group1/};

&arduino_header {
	gpio-map = <0 0 &gpio0 3 0>,
			   <1 0 &gpio0 4 0>,
			   <2 0 &gpio0 28 0>,
			   <3 0 &gpio0 29 0>,
			   <4 0 &gpio0 30 0>,
			   <5 0 &gpio0 31 0>,
			   <6 0 &gpio1 1 0>,
			   <7 0 &gpio1 2 0>,
			   <8 0 &gpio1 3 0>,
			   <9 0 &gpio1 4 0>,
			   <10 0 &gpio1 5 0>,
			   <11 0 &gpio1 6 0>,
			   <12 0 &gpio1 7 0>,
			   <13 0 &gpio1 8 0>,
			   <14 0 &gpio0 17 0>,
			   <15 0 &gpio0 19 0>,
			   <16 0 &gpio0 20 0>,
			   <17 0 &gpio0 21 0>,
			   <18 0 &gpio0 22 0>,
			   <19 0 &gpio0 23 0>,
			   <20 0 &gpio0 26 0>,
			   <21 0 &gpio0 27 0>;
};

&spi1 {
    //VDD - CONNECT TO 3V - USE A 220UF TO GND
     cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>; // PIN NSS //MODULE PIN 30 GPIO 0 17 ok
    lora0: sx1276@0 {
		        compatible = "semtech,sx1276";
		        reset-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>; //MODULE PIN 28 GPIO 0 15
		        dio-gpios = 
                 <&gpio1 02 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>, //DIO-0 //MODULE PIN 38 ok gpio1 02
                 <&gpio1 04 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>; //DIO-1 //MODULE PIN 40 ok gpio1 04
                 
		        power-amplifier-output = "pa-boost";
		        reg = <0>;
		        spi-max-frequency = <1000000>;
		        label = "sx1276";
          };

};

 //MODULE_NEW
 //THIS MODULE WITH PCB IS INVERTED
&spi1_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,  //MODULE PIN 32
				<NRF_PSEL(SPIM_MISO, 0, 22)>, //MODULE PIN 34   MISO = SO PIN 2 SX1276
				<NRF_PSEL(SPIM_MOSI, 1, 00)>; //MODULE PIN 36   MOSI = SI PIN 3 SX1276
	};
};

/* 
 //THIS MODULE IS CORRECTED
&spi1_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,  //MODULE PIN 32
				<NRF_PSEL(SPIM_MOSI, 0, 22)>, //MODULE PIN 36   MOSI = SI PIN 3 SX1276
				<NRF_PSEL(SPIM_MISO, 1, 00)>; //MODULE PIN 34   MISO = SO PIN 2 SX1276
	};
};
*/


&clock {
	status = "okay";
};

&acl {
	status = "okay";
};

&uart0 {
	current-speed = <9600>;
};
